<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Make site responsive on mobile/tablet -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NotesApp</title>
    <link rel="stylesheet" type="text/css" href="/index.css">
</head>

<body>
    <ul>
        <li class="nav-left"><a href="/">Home</a></li>
        <li class="nav-left"><a href="/notes">Notes</a></li>
        <li class="nav-left"><a href="/notes/new">Add New Note</a></li>
        <li class="nav-left"><a href="#">About</a></li>
        <li class="nav-right"><a href="/register">Sign Up</a></li>
        <li class="nav-right"><a href="">Log In</a></li>
    </ul>