<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Make site responsive on mobile/tablet -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Koffee Adikts</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
</head>

<body>
    <% if(error && error.length > 0){ %>
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <%= error %>
    </div>
    <% } %>

    <% if(success && success.length > 0){ %>
    <div class="alert success">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <%= success %>
    </div>
    <% } %>