<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Make site responsive on mobile/tablet -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>K&K</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>

<body>