<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Make site responsive on mobile/tablet -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>C&C</title>
    <link rel="stylesheet" type="text/css" href="/index.css">
</head>

<body>
    <ul>
        <li class="nav-left"><a href="/">Home</a></li>
        <li class="nav-left"><a href="/notes">Coffee</a></li>
        <% if(currentUser && currentUser.isBusiness){ %>
        <li class="nav-left"><a href="/notes/new">Add New Coffee</a></li>
        <% } %>
        <% if(!currentUser){ %>
            <li class="nav-right"><a href="/user/register">Sign Up</a></li>
            <li class="nav-right"><a href="/user/login">Log In</a></li>
        <% } else { %>
            <li class="nav-right"><a href="/user/logout">Logout</a></li>
            <li class="nav-right"><a href="#">Hi <%= currentUser.username  %>!</a></li>
        <% } %>
    </ul>