<% include ../partials/header %>

<link rel="stylesheet" type="text/css" href="/css/comments.css">

<div class="container">
    <div class="row">
        <h1 id="edit-comment-title">Edit Comment</h1>
        <div id="edit-comment-area">
            <form action="/notes/<%= note_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                <textarea name="comment[text]" id="edit-comment-textarea" cols="30"
                    rows="10"><%= comment.text %></textarea>
                <button id="edit-comment-button">Submit!</button>
            </form>

            <a href="/notes/<%= note_id %>">Go Back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>