<% include ../partials/header %>
<style>
    #edit-comment-title {
        text-align: center;
    }

    #edit-comment-area {
        width: 30%;
        margin: 25px auto;
    }

    #edit-comment-textarea {
        width: 100%;
        resize: none;
        color: #fff;
        background: none;
        padding: 0;
        margin: 0;
        outline: none;
    }

    #edit-comment-button {
        background: #46D80E;
        border: none;
        border-radius: 3px;
        padding: .3em;
        font-size: 1em;
        width: 100%;
    }
</style>
<div class="container">
    <div class="row">
        <h1 id="edit-comment-title">Edit Comment</h1>
        <div id="edit-comment-area">
            <form action="/notes/<%= note_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                <textarea name="comment[text]" id="edit-comment-textarea" cols="30"
                    rows="10"><%= comment.text %></textarea>
                <button id="edit-comment-button">Submit!</button>
            </form>

            <a href="/notes/<%= note_id %>">Go Back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>