<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="container">
    <h1>Sign Up</h1>

    <form class="userForm" action="/user/register" method="POST" autocomplete="off">
        <input class="userInput" type="text" name="username" placeholder="username" required>
        <input class="userInput" type="password" name="password" placeholder="password" required>
        <input class="userInput" type="password" name="businessCode" placeholder="Busines Code">
        <button class="userSubmitB">Sign Up</button>
    </form>
</div>

<% include ../partials/footer %>