body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #988a8a;
}

.container {
    padding: 0 50px;
    display: grid;
}

/* USER FORM */

.userInput {
    width: 25%;
    padding: 12px;
    border: 0px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1px;
    resize: vertical;
    display: block;
}

.userSubmitB {
    background-color: white;
    color: #4CAF50;
    padding: 12px 20px;
    border: 1px solid #4CAF50;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    margin: 1em 0;
}

.userSubmitB:hover {
    background-color: #45a049;
    color: white;
    transition-duration: 500ms;
}

.userInput:hover {
    border-bottom: 2px solid #ccc;
    margin-bottom: 0px;
    color: white;
    transition-duration: 500ms;
}