<% include ../partials/header %>
<% include ../partials/navbar %>

<h1>Edit Note</h1>

<form action="/notes/<%= note._id %>?_method=PUT" method="POST">
    <input type="text" name="note[name]" value="<%= note.name %>">
    <input type="text" name="note[content]" value="<%= note.content %>">
    <button>Submit!</button>
</form>

<% include ../partials/footer %> 