<% include ../partials/header %>

<link rel="stylesheet" type="text/css" href="/css/notes.css">

<div class="parallax">
    <% include ../partials/navbar %>
    <p class="home-phrase">So that you may not be sluggish</p>
    <% if(notes != 0 || (currentUser && currentUser.isBusiness)){ %>
    <a id=arrow href="#coffees"><img src="/svg/arrow.svg"></a>
    <% } else { %>
    <a id=no-koffees href="/contact">Any Questions</a>
    <% } %>
</div>

<% if(notes != 0 || (currentUser && currentUser.isBusiness)){ %>
<div id="coffees">
    <div class="box">
        <% if(notes){ %>
        <% notes.forEach(function(note){ %>
        <div class="card">
            <a href="/notes/<%= note._id %>">
                <div class="imgBx">
                    <% if(note.image.filename){ %>
                    <img src="/notes/image/<%= note.image.filename %>" alt="images">
                    <% } else { %>
                    <img src="/es1.png" alt="images">
                    <% } %>
                </div>
                <div class="details">
                    <h2><%= note.name %><br><span><%= note.price %>DKK</span></h2>
                </div>
            </a>
        </div>
        <% }) %>
        <% } %>
        <% if(currentUser && currentUser.isBusiness){ %>

        <div class="card">
            <a href="/notes/new">
                <div id="add-new-coffee">
                    <h2>Add New Coffee</h2>
                </div>
            </a>
        </div>
        <% } %>
    </div>
</div>
<% } %>

<% include ../partials/footer %>