<style>
    html {
        scroll-behavior: smooth;
    }
</style>

<% include ../partials/header %>

<div class="parallax">
    <% include ../partials/navbar %>
    <p class="home-phrase">So that you may not be sluggish</p>
    <a id=arrow href="#coffees"><img src="/svg/arrow.svg"></a>
</div>
<div id="coffees">
    <div>
        <% if(notes){ %>
        <% notes.forEach(function(note){ %>
        <div>
            <h4><%= note.name %></h4>
            <p><%= note.content %></p>
            <a href="/notes/<%= note._id %>">More Info</a>
        </div>
        <% }) %>
        <% } %>
    </div>
</div>