<% include ../partials/header %>

<h1>Notes Main Page</h1>

<% if(notes){ %>
    <% notes.forEach(function(note){ %>
        <div>
            <h4><%= note.title %></h4>
            <p><%= note.content %></p>
            <a href="/notes/<%= note._id %>">More Info</a>
        </div>
    <% }) %>
<% } %>

<% include ../partials/footer %>