<style>
    html {
        scroll-behavior: smooth;
    }

    .card {
        backdrop-filter: blur(10px);
    }
</style>

<% include ../partials/header %>

<div class="parallax">
    <% include ../partials/navbar %>
    <p class="home-phrase">So that you may not be sluggish</p>
    <a id=arrow href="#coffees"><img src="/svg/arrow.svg"></a>
</div>

<div id="coffees">
    <div class="box">
        <% if(notes){ %>
        <% notes.forEach(function(note){ %>
        <a href="/notes/<%= note._id %>">
            <div class="card">
                <div class="imgBx">
                    <img src="/image/<%= note.image %>" alt="images">
                </div>
                <div class="details">
                    <h2><%= note.name %><br><span><%= note.price %>DKK</span></h2>
                </div>
            </div>
        </a>
        <% }) %>
        <% } %>
        <% if(currentUser && currentUser.isBusiness){ %>
        <a href="/notes/new">
            <div class="card">
               <div id="add-new-coffee">
                   <h2>Add New Coffee</h2>
               </div>
            </div>
        </a>
        <% } %>
    </div>
</div>

<% include ../partials/footer %>