<% include ../partials/header %>
<% include ../partials/navbar %>

<h1>Create a New Note</h1>

<form action="/notes/new" method="POST">
    <input type="text" name="note[name]" placeholder="name">
    <input type="text" name="note[content]" placeholder="content">
    <button>Submit!</button>
</form>

<% include ../partials/footer %>