<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="container">
    <h1>Create a New Note</h1>
    <form action="/notes/new" method="POST">
        <div class="flexbox">
            <input type="text" name="note[name]" placeholder="name" required>
            <input type="text" name="note[kind]" placeholder="kind of coffee" required>
        </div>

        <div class="flexbox">
            <textarea name="note[content]" id="" placeholder="content" cols="30" rows="10" required></textarea>
        </div>

        <div class="flexbox">
            <label for="coordinates">Where can we find your coffee?</label>
        </div>
        <div class="flexbox" id="coordinates">
            <input type="text" name="note[lat]" placeholder="latitude">
            <input type="text" name="note[lng]" placeholder="longitude">
        </div>

        <div class="flexbox">
            <label for="public">Make this Koffee public:</label>
            <input type="checkbox" name="note[public]" id="public"><br>
        </div>

        <div class="flexbox">
            <button>Submit!</button>
        </div>
    </form>
</div>
<% include ../partials/footer %>