<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>K&K</title>
    <link rel="stylesheet" href="/landing.css">
</head>

<body>
    <div class="container">
        <img id="landing-img" src="logo.svg">
        <div id="landing-header">
            <h1>Welkome to Kakes & Koffee!</h1>
            <a href="notes" class="but">Start</a>
        </div>
    </div>
</body>

</html>