<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Koffee Addikts</title>
    <link rel="stylesheet" href="/css/landing.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
</head>
<style>
    .k {
        color: #49E20E;
    }
</style>

<body>
    <div class="container">
        <img id="landing-img" src="/svg/logo.svg">
        <div id="landing-header">
            <h1>Wel<span class="k">k</span>ome to <span class="k">K</span>offee Addi<span class="k">k</span>ts!</h1>
            <a href="notes" class="but">Start</a>
        </div>
    </div>
</body>

</html>