<% include ./partials/header %>

<h1>First Step</h1>
<form>
    <input type="radio" name="userType" value="bussiness" checked> Bussiness<br>
    <input type="radio" name="userType" value="personal" checked> Personal<br>
    <input type="submit" value="Submit">
</form>

<% include ./partials/footer %>